
<input type="text" [value]="searchString" placeholder="Search by UserId" (input)="handleSearch($event)"/>
<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>User ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.first_name }} {{ element.last_name}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="handleRowClick(row.id)"></tr>

</table>
<mat-paginator [length]="12" [pageSize]="pageLength" [pageSizeOptions]="[pageLength]" (page)="handlePageChange($event)"
  aria-label="Select Page">
</mat-paginator>